/* import fonts START*/
@font-face{
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-MediumItalic";
    src: url(../fonts/Raleway-MediumItalic.ttf);
}
@font-face{
    font-family: "Raleway-SemiBoldItalic";
    src: url(../fonts/Raleway-SemiBoldItalic.ttf);
}
@font-face{
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Raleway-Semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face{
    font-family: "Raleway-BlackItalic";
    src: url(../fonts/Raleway-BlackItalic.ttf);
}
@font-face{
    font-family: "Raleway-BoldItalic";
    src: url(../fonts/Raleway-BoldItalic.ttf);
}
@font-face{
    font-family: "Raleway-ExtraBold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: "Raleway-ExtraBoldItalic";
    src: url(../fonts/Raleway-ExtraBoldItalic.ttf);
}
@font-face{
    font-family: "Raleway-ExtraLight";
    src: url(../fonts/Raleway-ExtraLight.ttf);
}
@font-face{
    font-family: "Raleway-ExtraLightItalic";
    src: url(../fonts/Raleway-ExtraLightItalic.ttf);
}
@font-face{
    font-family: "Raleway-Italic";
    src: url(../fonts/Raleway-Italic.ttf);
}
@font-face{
    font-family: "Raleway-LightItalic";
    src: url(../fonts/Raleway-LightItalic.ttf);
}
@font-face{
    font-family: "Raleway-Light";
    src: url(../fonts/Raleway-Light.ttf);
}
@font-face{
    font-family: "Raleway-Thin";
    src: url(../fonts/Raleway-Thin.ttf);
}
@font-face{
    font-family: "Raleway-ThinItalic";
    src: url(../fonts/Raleway-ThinItalic.ttf);
}
/* import fonts ENDS*/


/* import COLORS START*/
:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

